.header {
    > .container-inner {
        display:flex;
        flex-wrap:wrap;
        align-items: center;

        > * {
            display: flex;
            align-items: center;
            justify-content: center;

            min-height: 5rem;
            min-width: 5rem;  
            //background-color: $color-primary-light;
        } 

    }

    &__branding {
        flex-grow:0;
        flex-shrink: 1;
        flex-basis: auto;

        @include breakpoint-md {
            order:1;
        }

    }

    &__search {
        flex-grow:0;
        flex-shrink: 1;
        flex-basis: auto;
        margin-left:auto;  
        
        @include breakpoint-md {
            order:3;
        }
    }

    &__navigation {
        flex-grow:0;
        flex-shrink: 1;
        flex-basis: auto;
        margin-left: 1rem;
        
        @include breakpoint-md {
            order:3;
        }
    }

    &__content {
        flex-grow:1;
        flex-shrink: 1;
        flex-basis: 100%;
        //margin-left:auto;
        //text-align: center;

        > span {
            font-family: $font-family-alt;
            font-size: $h2;
            font-weight: 800;
        }

        @include breakpoint-md {
            flex-basis: auto;
            order:2;
            padding: 0 $gutter;
        }
    }

}