.navigation {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: map-get($z-index, navigation);
    top: 0;
    right:0;
    background-color: $color-primary-light;
    overflow-x: hidden;
    transition: width 0.5s;
    padding-top: 12rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    & > ul {
        //opacity: 0;
        //transition: opacity .5s ease-in .5s;
    }

    &.open {
        width:100%;

        // & > ul {
        //     opacity: 1;
        // }

    }

}