.outer-wrapper {
  //margin: 0 auto;
  //max-width: 1100px;
}

.container{
  padding: 0;

  & &-inner {
    padding: 0 $hor-space $ver-space $hor-space;
    margin: 0 auto;
    max-width: 1100px;

    &--space-around {
      padding: $ver-space $hor-space;
    }

    &--nobottom {
      padding-bottom: 0;
    }
  }

  &-bgr{
    background-color: $color-white;
  
    &--light{
      background-color: $color-primary-light;
    }
  
    &--grey-light{
      background-color: $color-grey-light;
    }
  }
}



.columns{
  display:flex;
  justify-content: space-between;

  div {
    flex:1 1 auto;
    margin-right: $gutter;
  }

  & &--2col {
    > div:nth-of-type(2n){
      margin-right: 0px
    }
  }

  & &--3col { 
    > div:nth-of-type(3n){
      margin-right: 0px
    }
  }

  & &--4col { 
    > div:nth-of-type(4n){
      margin-right: 0px
    }
  }

}


