body {
  font-family: $font-family-default;
  font-size: $default-font-size;
  font-weight: map-get($font-family-default-weight, regular);
  line-height: 1.7;
  color: $color-grey-dark;
}

h1, h2, h3, h4, h5 {
  font-family: $font-family-alt;
  font-weight: map-get($font-family-alt-weight, bold);
  color: $color-primary-dark;
}

h1 {
  margin-top: 0;
  font-size: $h1;
}
h2 {
  font-size: $h2;
}
h3 {
  font-size: $h3;
}
h4 {
  font-size: $h4;
}
h5 {
  font-size: $h5;
}

.text--small {
  font-size: $small;
  font-weight: map-get($font-family-default-weight, light);
}

.text--xsmall {
  font-size: $xsmall;
  font-weight: map-get($font-family-default-weight, light);
}

hr {
  width: 40%;
  margin: $ver-space auto;

  border: none;
  border-bottom: 1px solid $color-primary;

}


a {
  font-family: $font-family-default;
  text-decoration:none;
  color: $color-grey-dark;
  //border-bottom: .1rem solid rgba($color-grey-dark, .2);
  box-shadow: inset 0 -.1rem 0px 0px rgba($color-grey-dark, .2);

  &:hover,
  &:active {
    box-shadow: inset 0 -.2rem 0px 0px rgba($color-grey-dark, .2);
  }

  &:link,
  &:visited {
    
  }

  &:focus {
    outline: none;
    @include shadow;
  }
}

a.hyperstyle {
  padding-bottom: 4px;
  border-bottom: .1rem solid rgba($color-primary, .2);
  box-shadow: inset 0 -2px 0px 0px rgba($color-primary, .2);
  transition: all .2s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:active {
    box-shadow: inset 0 -3rem 0px 0px rgba($color-primary, .2);
  }

  &:focus {
    outline: none;
    @include shadow;
  }
}




ul {
  list-style: none; /* Remove default bullets */
}

ul > li {
  //margin-left:$default-font-size;
}

ul > li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: $color-primary-dark; /* Change the color */
  font-weight: map-get($font-family-default-weight, bold);
  display: inline-block; /* Needed to add space between the bullet and the text */ 
  width: 1em; /* Also needed for space (tweak if needed) */
  //margin-left: -1em; /* Also needed for space (tweak if needed) */
}

ul ul > li::before {
  margin-left:$default-font-size;
  color: $color-primary;
}

ul ul ul > li::before {
  margin-left:$default-font-size*2;
  color: $color-primary-light ;
}

blockquote {
  //position: relative;
  padding-left: 1em;
  border-left: 0.6em solid $color-primary-light;
  font-family: $font-family-alt;
  font-size: $default-font-size;
  &:before, &:after {
      content: none;
   }

}



