/*
COLORS:

Light red: #FFCDD2
Medium red: #EF5350
Dark red: #B71C1C

*/
/* the golden ratio */
/* Do math: */
/* MIG: replacement for normmalize reset css*/
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  /* change boxmodel: margin and heading not added to total width */
  box-sizing: inherit; }

*::selection {
  color: #fff;
  background: #EF5350; }

html {
  font-size: 62.5%;
  /* 10px/16px . 100 = 62.5% */ }

body {
  box-sizing: border-box; }

/* DEBUG */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  color: #424242; }

h1, h2, h3, h4, h5 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  color: #B71C1C; }

h1 {
  margin-top: 0;
  font-size: 2.88325rem; }

h2 {
  font-size: 2.56289rem; }

h3 {
  font-size: 2.27812rem; }

h4 {
  font-size: 2.025rem; }

h5 {
  font-size: 1.8rem; }

.text--small {
  font-size: 1.42222rem;
  font-weight: 300; }

.text--xsmall {
  font-size: 1.2642rem;
  font-weight: 300; }

hr {
  width: 40%;
  margin: 26px auto;
  border: none;
  border-bottom: 1px solid #EF5350; }

a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #424242;
  border-bottom: 0.1rem solid rgba(66, 66, 66, 0.2); }
  a:hover, a:active {
    border-bottom: 0.2rem solid rgba(66, 66, 66, 0.2); }

a.hyperstyle {
  padding-bottom: 4px;
  border-bottom: 0.1rem solid rgba(239, 83, 80, 0.2);
  box-shadow: inset 0 -2px 0px 0px rgba(239, 83, 80, 0.2);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1); }
  a.hyperstyle:hover, a.hyperstyle:active {
    box-shadow: inset 0 -3rem 0px 0px rgba(239, 83, 80, 0.2); }

ul {
  list-style: none;
  /* Remove default bullets */ }

ul > li::before {
  content: "\2022";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #B71C1C;
  /* Change the color */
  font-weight: 700;
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1em;
  /* Also needed for space (tweak if needed) */ }

ul ul > li::before {
  margin-left: 1.6rem;
  color: #EF5350; }

ul ul ul > li::before {
  margin-left: 3.2rem;
  color: #FFCDD2; }

blockquote {
  position: relative;
  padding-left: 1em;
  border-left: 0.6em solid #FFCDD2;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem; }
  blockquote:before, blockquote:after {
    content: none; }

.container {
  padding: 0; }
  .container-inner {
    padding: 26px 52px 26px 52px;
    margin: 0 auto;
    max-width: 1158px; }
    .container-inner--space-around {
      padding: 26px 52px; }
    .container-inner--nobottom {
      padding-bottom: 0; }
    .container-inner--notop {
      padding-top: 0; }
    .container-inner--novertpadding {
      padding-top: 0;
      padding-bottom: 0; }
  .container-bgr {
    background-color: #fff; }
    .container-bgr--light {
      background-color: #FFCDD2; }
    .container-bgr--grey-light {
      background-color: #E0E0E0; }

.columns {
  display: flex;
  flex-flow: column;
  justify-content: space-between; }
  .columns > div {
    flex: 0 1 auto; }
  @media (min-width: 576px) {
    .columns--2col {
      flex-flow: row; }
      .columns--2col > div {
        margin-right: 26px; }
      .columns--2col > div:nth-of-type(2n) {
        margin-right: 0px; } }
  .columns--3col {
    flex-flow: row;
    flex-wrap: wrap; }
    @media (min-width: 576px) and (max-width: 767.98px) {
      .columns--3col > div {
        flex: 1 0 34%;
        margin-right: 26px; }
      .columns--3col > div:nth-of-type(2n), .columns--3col div:last-child {
        margin-right: 0px; } }
    @media (min-width: 768px) {
      .columns--3col > div {
        flex: 1;
        margin-right: 26px; }
      .columns--3col > div:nth-of-type(3n) {
        margin-right: 0px; } }
  .columns--4col {
    flex-flow: row;
    flex-wrap: wrap; }
    @media (min-width: 576px) and (max-width: 623.98px) {
      .columns--4col > div {
        flex: 1 0 30%;
        margin-right: 26px; }
      .columns--4col > div:nth-of-type(2n), .columns--4col div:last-child {
        margin-right: 0px; } }
    @media (min-width: 624px) and (max-width: 767.98px) {
      .columns--4col > div {
        flex: 1 0 30%;
        margin-right: 26px; }
      .columns--4col > div:nth-of-type(3n), .columns--4col div:last-child {
        margin-right: 0px; } }
    @media (min-width: 768px) {
      .columns--4col div {
        flex: 1;
        margin-right: 26px; }
      .columns--4col > div:nth-of-type(4n) {
        margin-right: 0px; } }
  .columns--4col-cards {
    flex-flow: row;
    flex-wrap: wrap; }
    @media (min-width: 576px) and (max-width: 640.98px) {
      .columns--4col-cards > div {
        flex: 1 0 auto;
        margin-right: 26px;
        max-width: 46.4%; }
      .columns--4col-cards > div:nth-of-type(2n), .columns--4col-cards div:last-child {
        margin-right: 0px; } }
    @media (min-width: 641px) and (max-width: 767.98px) {
      .columns--4col-cards > div {
        flex: 1 0 auto;
        margin-right: 26px;
        max-width: 30%; }
      .columns--4col-cards > div:nth-of-type(3n), .columns--4col-cards div:last-child {
        margin-right: 0px; } }
    @media (min-width: 768px) {
      .columns--4col-cards div {
        flex: 1;
        margin-right: 26px; }
      .columns--4col-cards > div:nth-of-type(4n) {
        margin-right: 0px; } }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

a.button {
  display: inline-block;
  padding: 9.21202px 18.42404px;
  margin: .5rem 0;
  border: 1px solid #EF5350;
  border-radius: .3rem;
  background-color: #fff;
  color: #EF5350;
  transition: all .5s; }
  a.button:hover, a.button:active {
    background-color: #EF5350;
    color: #fff; }
  a.button--solid {
    background-color: #EF5350;
    color: #fff; }
    a.button--solid:hover, a.button--solid:active {
      background-color: #fff;
      color: #EF5350; }
  a.button--solid-dark {
    background-color: #B71C1C;
    color: #fff; }
    a.button--solid-dark:hover, a.button--solid-dark:active {
      background-color: #fff;
      color: #B71C1C; }
  a.button--small {
    padding: 4.60601px 9.21202px; }

.footer {
  background-color: #FFCDD2; }

.footer-bar {
  background-color: #757575; }
  .footer-bar .container-inner {
    padding: 9.21202px 52px; }

.column {
  margin-bottom: 26px; }
