/*
COLORS:

Light red: #FFCDD2
Medium red: #EF5350
Dark red: #B71C1C

*/
/* the golden ratio */
/* Do math: */
/* MIG: replacement for normmalize reset css*/
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  /* change boxmodel: margin and heading not added to total width */
  box-sizing: inherit; }

*::selection {
  color: #fff;
  background: #EF5350; }

html {
  font-size: 62.5%;
  /* 10px/16px . 100 = 62.5% */ }

body {
  box-sizing: border-box; }

/* DEBUG */
@keyframes pulsate {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2);
    background-color: rgba(239, 83, 80, 0.7);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  color: #424242; }

h1, h2, h3, h4, h5 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  color: #B71C1C; }

h1 {
  margin-top: 0;
  font-size: 2.88325rem; }

h2 {
  font-size: 2.56289rem; }

h3 {
  font-size: 2.27812rem; }

h4 {
  font-size: 2.025rem; }

h5 {
  font-size: 1.8rem; }

.text--small {
  font-size: 1.42222rem;
  font-weight: 400; }

.text--xsmall {
  font-size: 1.2642rem;
  font-weight: 400; }

hr {
  width: 40%;
  margin: 26px auto;
  border: none;
  border-bottom: 1px solid #EF5350; }

a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #424242;
  box-shadow: inset 0 -0.1rem 0px 0px rgba(66, 66, 66, 0.2); }
  a:hover, a:active {
    box-shadow: inset 0 -0.2rem 0px 0px rgba(66, 66, 66, 0.2); }

a.hyperstyle {
  padding-bottom: 4px;
  border-bottom: 0.1rem solid rgba(239, 83, 80, 0.2);
  box-shadow: inset 0 -2px 0px 0px rgba(239, 83, 80, 0.2);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1); }
  a.hyperstyle:hover, a.hyperstyle:active {
    box-shadow: inset 0 -3rem 0px 0px rgba(239, 83, 80, 0.2); }

ul {
  list-style: none;
  /* Remove default bullets */ }

ul > li::before {
  content: "\2022";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #B71C1C;
  /* Change the color */
  font-weight: 700;
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1em;
  /* Also needed for space (tweak if needed) */ }

ul ul > li::before {
  margin-left: 1.6rem;
  color: #EF5350; }

ul ul ul > li::before {
  margin-left: 3.2rem;
  color: #FFCDD2; }

blockquote {
  padding-left: 1em;
  border-left: 0.6em solid #FFCDD2;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem; }
  blockquote:before, blockquote:after {
    content: none; }

.container {
  padding: 0; }
  .container-inner {
    padding: 26px 52px;
    margin: 0 auto;
    max-width: 1158px; }
    .container-inner--space-around {
      padding: 26px 52px; }
    .container-inner--nobottom {
      padding-bottom: 0; }
    .container-inner--notop {
      padding-top: 0; }
    .container-inner--novertpadding {
      padding-top: 0;
      padding-bottom: 0; }
  .container-bgr {
    background-color: #fff; }
    .container-bgr--light {
      background-color: #FFCDD2; }
    .container-bgr--grey-light {
      background-color: #E0E0E0; }

.columns {
  display: flex;
  flex-flow: column; }
  .columns > div {
    flex: 0 1 auto; }
  @media (min-width: 576px) {
    .columns--2col {
      flex-flow: row; }
      .columns--2col > div {
        margin-right: 26px; }
      .columns--2col > div:nth-of-type(2n) {
        margin-right: 0px; } }
  .columns--3col {
    flex-flow: row;
    flex-wrap: wrap; }
    @media (min-width: 576px) and (max-width: 767.98px) {
      .columns--3col > div {
        flex: 1 0 34%;
        margin-right: 26px; }
      .columns--3col > div:nth-of-type(2n), .columns--3col div:last-child {
        margin-right: 0px; } }
    @media (min-width: 768px) {
      .columns--3col > div {
        flex: 1;
        margin-right: 26px; }
      .columns--3col > div:nth-of-type(3n) {
        margin-right: 0px; } }
  .columns--4col {
    flex-flow: row;
    flex-wrap: wrap; }
    @media (min-width: 576px) and (max-width: 623.98px) {
      .columns--4col > div {
        flex: 1 0 30%;
        margin-right: 26px; }
      .columns--4col > div:nth-of-type(2n), .columns--4col div:last-child {
        margin-right: 0px; } }
    @media (min-width: 624px) and (max-width: 767.98px) {
      .columns--4col > div {
        flex: 1 0 30%;
        margin-right: 26px; }
      .columns--4col > div:nth-of-type(3n), .columns--4col div:last-child {
        margin-right: 0px; } }
    @media (min-width: 768px) {
      .columns--4col > div {
        flex: 1;
        margin-right: 26px; }
      .columns--4col > div:nth-of-type(4n) {
        margin-right: 0px; } }
  .columns--4col-cards {
    flex-flow: row;
    flex-wrap: wrap; }
    @media (min-width: 576px) and (max-width: 640.98px) {
      .columns--4col-cards > div {
        flex: 1 0 auto;
        margin-right: 26px;
        max-width: calc((100% - 26px) / 2); }
      .columns--4col-cards > div:nth-of-type(2n), .columns--4col-cards div:last-child {
        margin-right: 0px; } }
    @media (min-width: 641px) and (max-width: 767.98px) {
      .columns--4col-cards > div {
        flex: 1 0 auto;
        margin-right: 26px;
        max-width: calc((100% - (26px * 2)) / 3); }
      .columns--4col-cards > div:nth-of-type(3n), .columns--4col-cards div:last-child {
        margin-right: 0px; } }
    @media (min-width: 768px) {
      .columns--4col-cards > div {
        flex: 1;
        margin-right: 26px; }
      .columns--4col-cards > div:nth-of-type(4n) {
        margin-right: 0px; } }
  .columns--3col-cards {
    flex-flow: row;
    flex-wrap: wrap; }
    @media (min-width: 576px) and (max-width: 766.98px) {
      .columns--3col-cards > div {
        flex: 1 0 auto;
        margin-right: 26px;
        max-width: calc((100% - 26px) / 2); }
      .columns--3col-cards > div:nth-of-type(2n), .columns--3col-cards div:last-child {
        margin-right: 0px; } }
    @media (min-width: 768px) {
      .columns--3col-cards > div {
        flex: 1;
        margin-right: 26px; }
      .columns--3col-cards > div:nth-of-type(3n) {
        margin-right: 0px; } }
  .columns--2col-cards {
    flex-flow: row;
    flex-wrap: wrap; }
    @media (min-width: 576px) and (max-width: 754.98px) {
      .columns--2col-cards > div {
        flex: 1 0 auto;
        margin-right: 5%;
        max-width: 47.5%; }
      .columns--2col-cards > div:nth-of-type(2n), .columns--2col-cards div:last-child {
        margin-right: 0px; } }
    @media (min-width: 768px) {
      .columns--2col-cards > div {
        flex: 1;
        margin-right: 26px; }
      .columns--2col-cards > div:nth-of-type(2n) {
        margin-right: 0px; } }

.search-icon {
  display: inline-block;
  width: 1.8em;
  height: 1.8em;
  stroke-width: 0;
  stroke: currentColor;
  fill: #fff; }
  .search-icon__container {
    background-color: #EF5350;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .search-icon__link {
    box-shadow: none; }
    .search-icon__link:hover, .search-icon__link:active {
      box-shadow: none; }

.nav-icon__container {
  position: relative;
  background-color: #EF5350;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation: pulsate 5s infinite 2s; }
  .nav-icon__container--zindex {
    z-index: 999; }
  .nav-icon__container.fixed {
    position: fixed; }

.nav-icon {
  width: 26.66667px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }
  .nav-icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #fff;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out; }
    .nav-icon span:nth-child(1) {
      top: 0px; }
    .nav-icon span:nth-child(2), .nav-icon span:nth-child(3) {
      top: 8px; }
    .nav-icon span:nth-child(4) {
      top: 16px; }
  .nav-icon.open span:nth-child(1) {
    top: 8px;
    width: 0%;
    left: 50%; }
  .nav-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .nav-icon.open span:nth-child(4) {
    top: 8px;
    width: 0%;
    left: 50%; }

a.button, input.button {
  display: inline-block;
  padding: 9.21202px 18.42404px;
  margin: .5rem .5rem .5rem 0;
  border: 1px solid #EF5350;
  border-radius: .3rem;
  background-color: #fff;
  color: #EF5350;
  font-size: inherit;
  line-height: inherit;
  transition: all .5s; }
  a.button:hover, a.button:active, input.button:hover, input.button:active {
    background-color: #EF5350;
    color: #fff; }
  a.button:active, input.button:active {
    background-color: #B71C1C; }
  a.button--solid, input.button--solid {
    background-color: #EF5350;
    color: #fff; }
    a.button--solid:hover, a.button--solid:active, input.button--solid:hover, input.button--solid:active {
      background-color: #fff;
      color: #EF5350; }
    a.button--solid:active, input.button--solid:active {
      background-color: #FFCDD2; }
  a.button--solid-dark, input.button--solid-dark {
    background-color: #B71C1C;
    color: #fff; }
    a.button--solid-dark:hover, a.button--solid-dark:active, input.button--solid-dark:hover, input.button--solid-dark:active {
      background-color: #fff;
      color: #B71C1C; }
    a.button--solid-dark:active, input.button--solid-dark:active {
      background-color: #FFCDD2; }
  a.button--small, input.button--small {
    padding: 4.60601px 9.21202px; }

.card {
  background-color: #E0E0E0;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 100%;
  display: flex;
  flex-direction: column; }
  .card__main {
    padding: 2rem; }
  .card__image {
    width: 100%;
    border-radius: 1rem 1rem 0 0; }
  .card__bottom {
    display: flex;
    justify-content: center;
    padding: 0 2rem 2rem 2rem;
    margin-top: auto; }
  .card__header {
    display: flex;
    justify-content: start; }
    .card__header > a {
      margin-left: 1rem; }

.form__element {
  border: 1px solid #757575;
  border-radius: .3rem;
  line-height: 1.5;
  padding: .4rem 1.2rem;
  font-size: inherit;
  color: #757575;
  width: 30rem; }
  .form__element:focus {
    color: #B71C1C;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .form__element__select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 3rem;
    background-origin: content-box;
    background-image: url(/img/keyboard_arrow_down-24px.svg);
    margin-left: -4px; }

.form__label {
  display: inline-block;
  width: 15rem;
  padding-right: 26px;
  color: inherit; }
  .form__label--option {
    padding-left: 15.47619px;
    width: auto; }
  .form__label--stacked {
    width: 100%; }

.form__group {
  margin-bottom: 26px; }
  .form__group--stacked {
    margin-bottom: 15.47619px; }

.footer {
  background-color: #FFCDD2; }

.footer-bar {
  background-color: #757575; }
  .footer-bar .container-inner {
    padding: 9.21202px 52px; }

.header > .container-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center; }
  .header > .container-inner > * {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 5rem;
    min-width: 5rem; }

.header__branding {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto; }
  @media (min-width: 768px) {
    .header__branding {
      order: 1; } }

.header__search {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  margin-left: auto; }
  @media (min-width: 768px) {
    .header__search {
      order: 3; } }

.header__navigation {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  margin-left: 1rem; }
  @media (min-width: 768px) {
    .header__navigation {
      order: 3; } }

.header__content {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%; }
  @media (min-width: 768px) {
    .header__content {
      flex-basis: auto;
      order: 2;
      padding: 0 26px; } }

.branding__baseline {
  font-family: "Nunito Sans", sans-serif;
  font-size: 2.56289rem;
  font-weight: 800; }

.branding__link {
  box-shadow: none;
  display: flex;
  align-items: center; }
  .branding__link:hover, .branding__link:active {
    box-shadow: none; }

.branding__logo {
  width: 5rem; }
  .branding__logo .cls-1 {
    fill: #EF5350; }

.navigation {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 888;
  top: 0;
  right: 0;
  background-color: #FFCDD2;
  overflow-x: hidden;
  transition: width 0.5s;
  padding-top: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .navigation.open {
    width: 100%; }

.column {
  margin-bottom: 26px; }
