a.button, input.button {
  display:inline-block;
  padding: $ver-space--xsmall $hor-space--xsmall;
  margin: .5rem .5rem .5rem 0;

  border: 1px solid $color-primary;
  border-radius: .3rem;

  background-color: $color-white;
  color: $color-primary;
  font-size: inherit;
  line-height: inherit;
  transition: all .5s;

  &:hover,
  &:active {
    background-color: $color-primary;
    color: $color-white;
  }

  &:active {
    background-color: $color-primary-dark;
  }

  &:link,
  &:visited {
  
  }

  &--solid {
    background-color: $color-primary;
    color: $color-white; 
    
    &:hover,
    &:active {
      background-color: $color-white;
      color: $color-primary; 
    }
    &:active {
      background-color: $color-primary-light;
    }
  }

  &--solid-dark {
    background-color: $color-primary-dark;
    color: $color-white; 
    
    &:hover,
    &:active {
      background-color: $color-white;
      color: $color-primary-dark; 
    }
    &:active {
      background-color: $color-primary-light;
    }
  }

  &--small {
    padding: $ver-space--xsmall/2 $hor-space--xsmall/2;
  }
}



