<footer class="container footer">
    <div class="container-inner">
            <p>Lorem, ipsum dolor sit amet consectetur <a href="#">adipisicing elit.</a>. Magnam et, culpa distinctio excepturi officiis facilis qui sapiente unde voluptatem error modi ea perspiciatis aspernatur ex explicabo iusto vitae quisquam blanditiis.</p>
    </div>

</footer>
<footer class="container footer-bar">
    <div class="container-inner text--small">
            <p>©2019 Mikael Gyselinck - MIG | <a href="https://www.linkedin.com/in/mikaelgyselinck/" target="_blank">LinkedIn</a></p>
    </div>
</footer>