/*
COLORS:

Light red: #FFCDD2
Medium red: #EF5350
Dark red: #B71C1C

*/


// COLORS
$color-primary:#EF5350;
$color-primary-light:#FFCDD2;
$color-primary-dark:#B71C1C;

$color-grey: #757575;
$color-grey-ligt: #E0E0E0;
$color-grey-dark: #424242;

$color-white: #fff;
$color-black: #000;


// FONT SIZES
$default-font-size: 1.6rem