/*
COLORS:

Light red: #FFCDD2
Medium red: #EF5350
Dark red: #B71C1C

*/


// COLORS
$color-primary:#EF5350;
$color-primary-light:#FFCDD2;
$color-primary-dark:#B71C1C;

$color-grey: #757575;
$color-grey-light: #E0E0E0;
$color-grey-dark: #424242;

$color-white: #fff;
$color-black: #000;

// RATIOS
$ratio: 1.125;
$golden-ratio: 1.68; /* the golden ratio */

// FONTS 
$font-family-default: "Roboto", sans-serif;
$font-family-alt: "Nunito Sans", sans-serif;
$default-font-size: 1.6rem;

/* Do math: */
$h5: $default-font-size * $ratio;
$h4: $h5 * $ratio;
$h3: $h4 * $ratio;
$h2: $h3 * $ratio;
$h1: $h2 * $ratio;

$small: $default-font-size / ($ratio);
$xsmall: $small / ($ratio);

// MARGINS & PADDING
$ver-space: 26px;
$hor-space: 2 * $ver-space;
$gutter: $ver-space;

$ver-space--small: $ver-space / $golden-ratio;
$ver-space--xsmall: $ver-space--small / $golden-ratio;
$hor-space--xsmall: 2 * $ver-space--xsmall;

// GRID
$container-width: 1158px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Z-INDEX 
$z-index: (
  nav-icon           : 999,
  navigation         : 888,
);

